/ Begin Navigate Previous
= link_to "", '/news#' + @prev_article_hash , :onclick => "return false;"  , :class => "navigate_buttons", :id => "previous_article", :class => "floatleft"
/ Begin Navigate Previous
= link_to "", '/news#' + @next_article_hash , :onclick => "return false;"  , :class => "navigate_buttons", :id => "next_article", :class => "floatright"