%li
  / Begin Navigate Previous
  = link_to "", '/goalara#' + @prev_article_hash , :onclick => "return false;"  , :class => "navigate_buttons", :id => "previous_article"
%li
  / Begin Navigate Previous
  = link_to "", '/goalara#' + @next_article_hash , :onclick => "return false;"  , :class => "navigate_buttons", :id => "next_article"