#floatingbar
  %ul.gallery.clearfix
    %li
      / Begin Logo
    %li
      / Begin Sign In
      = link_to "Sign in", new_user_session_path, :class => 'a2a_dd'
    %li
      / Begin Select Team
    %li
      / Begin Total comments
    %li
      / Begin Add to Favorites
    %li
      / Begin Facebook Like
    %li
      / Begine Navigate Previous-Next
   