/* line 5, ../../app/stylesheets/toolbar.sass */
div#floatingbar {
  width: 100%;
  position: static;
  top: 0;
  left: 0;
  color: black;
  font-family: Arial;
  font-weight: bold;
  background-color: #262626;
  font-size: 11px;
  z-index: 100;
  border-bottom: 1px solid #ff2b06;
}
/* line 17, ../../app/stylesheets/toolbar.sass */
div#content {
  padding: 1em;
}

@media screen {
  /* line 21, ../../app/stylesheets/toolbar.sass */
  body > div#floatingbar {
    position: fixed;
  }
}
/* line 24, ../../app/stylesheets/toolbar.sass */
#floatingbar ul.gallery {
  list-style-type: none;
  position: relative;
  height: 50px;
}
/* line 28, ../../app/stylesheets/toolbar.sass */
#floatingbar ul.gallery li {
  float: left;
  padding: 10px 0 0 16px;
  color: #aaaaaa;
  margin-top: -3px;
}
/* line 33, ../../app/stylesheets/toolbar.sass */
#floatingbar ul.gallery li a {
  text-decoration: none;
  color: #f2f2f2;
  font-size: 12px;
  font-weight: normal;
  font-family: Arial;
}
/* line 39, ../../app/stylesheets/toolbar.sass */
#floatingbar ul.gallery li a img {
  float: left;
  border: none;
}

/* line 43, ../../app/stylesheets/toolbar.sass */
#floatingbar ul li.right_divider {
  background: url("../images/sprites_small.png") no-repeat scroll 190px -715px transparent;
}

/* line 46, ../../app/stylesheets/toolbar.sass */
#floatingbar ul li * {
  display: block;
}

/* line 49, ../../app/stylesheets/toolbar.sass */
#floatingbar ul li #signin_menu {
  display: none;
}

/* line 52, ../../app/stylesheets/toolbar.sass */
.translateicon {
  float: right;
  margin-right: -5px;
}

/* line 56, ../../app/stylesheets/toolbar.sass */
#google_translate_element {
  margin-top: -20px;
}

/* line 59, ../../app/stylesheets/toolbar.sass */
.bottomBarLinkRight {
  float: right;
}

/* line 62, ../../app/stylesheets/toolbar.sass */
.stico_default {
  background-image: none;
}

/* line 65, ../../app/stylesheets/toolbar.sass */
.total_comments {
  background: url("../images/sprites_small.png") no-repeat scroll -15px -280px transparent;
  font-size: 14px;
  height: 20px;
  padding: 20px 0 0 45px;
  width: 40px;
}

/* line 72, ../../app/stylesheets/toolbar.sass */
.show_hide_articles {
  background: url("../images/sprites_small.png") no-repeat scroll -15px -771px transparent;
  height: 39px;
  width: 100px;
}

/* line 77, ../../app/stylesheets/toolbar.sass */
.opened {
  background: url("../images/sprites_small.png") no-repeat scroll -15px -810px transparent !important;
}

/* line 81, ../../app/stylesheets/toolbar.sass */
.team_selector {
  background: url("../images/sprites_small.png") no-repeat scroll -15px -177px transparent;
  font-size: 13px !important;
  height: 40px;
  line-height: 2.8;
  padding: 0 0 0 25px;
  width: 280px;
  cursor: pointer;
}
/* line 89, ../../app/stylesheets/toolbar.sass */
.team_selector .image img {
  padding: 5px 10px 0 0;
  width: 24px;
  height: 24px;
}

/* line 96, ../../app/stylesheets/toolbar.sass */
#previous_article {
  background: url("../images/sprites_small.png") no-repeat scroll -15px -65px transparent;
  height: 40px;
  width: 120px;
}

/* line 101, ../../app/stylesheets/toolbar.sass */
#next_article {
  background: url("../images/sprites_small.png") no-repeat scroll -15px -11px transparent;
  height: 40px;
  width: 120px;
}

/* line 107, ../../app/stylesheets/toolbar.sass */
.liketext {
  display: none;
}

/* line 110, ../../app/stylesheets/toolbar.sass */
.connect_widget_like_button {
  background: url("http://0.0.0.0:3000/images/sprites_small.png") no-repeat scroll -15px -235px transparent;
  border: none !important;
  height: 38px;
  width: 43px;
}

/* line 117, ../../app/stylesheets/toolbar.sass */
.team_dropbox {
  z-index: 1000;
  overflow-y: scroll;
  background-color: #292929;
  height: 400px;
  margin: -6px 0 0 2px;
  width: 270px;
  border: 3px solid #fc6d2f;
  border-top: none;
  position: absolute;
  bottom: -398px;
}
/* line 128, ../../app/stylesheets/toolbar.sass */
.team_dropbox li {
  border-bottom: 1px solid #404040;
  clear: both;
  display: block;
  height: 62px;
  padding: 0 !important;
  width: 255px;
}
/* line 135, ../../app/stylesheets/toolbar.sass */
.team_dropbox li .image {
  float: left;
}
/* line 137, ../../app/stylesheets/toolbar.sass */
.team_dropbox li .image img {
  width: 50px;
  height: 50px;
}
/* line 140, ../../app/stylesheets/toolbar.sass */
.team_dropbox li .name {
  font-size: 12px;
  line-height: 4.5;
  margin-left: 65px;
}
/* line 144, ../../app/stylesheets/toolbar.sass */
.team_dropbox li a {
  padding: 7px 0 0 16px;
}
/* line 146, ../../app/stylesheets/toolbar.sass */
.team_dropbox li a:hover {
  background-color: #fc6d2f;
  cursor: pointer;
}
/* line 149, ../../app/stylesheets/toolbar.sass */
.team_dropbox li.selected a:hover {
  background-color: transparent !important;
  cursor: auto !important;
}
/* line 152, ../../app/stylesheets/toolbar.sass */
.team_dropbox li.selected * {
  opacity: 0.6;
}

/* line 155, ../../app/stylesheets/toolbar.sass */
#panel {
  display: none;
  height: 310px;
  color: white;
}
/* line 159, ../../app/stylesheets/toolbar.sass */
#panel #sync_window {
  width: 198px;
  border-right: 3px solid #606060;
  padding: 8px 5px 5px 10px;
  height: 289px;
  margin: 3px 10px 0 0;
}
/* line 165, ../../app/stylesheets/toolbar.sass */
#panel #sync_window .sync_button {
  position: absolute;
}
/* line 167, ../../app/stylesheets/toolbar.sass */
#panel #sync_window .sync_button a {
  background: url("../images/green_button.png") no-repeat scroll 0 0;
  font-size: 11px;
  font-weight: 700;
  line-height: 1.4;
  padding: 12px 18px 26px 10px;
  width: 140px;
  display: block;
  color: #dddddd;
}
/* line 176, ../../app/stylesheets/toolbar.sass */
#panel #sync_window .sync_button a:hover {
  cursor: pointer;
  color: white;
}
/* line 179, ../../app/stylesheets/toolbar.sass */
#panel #sync_window .sync_info {
  height: 226px;
  position: relative;
}
/* line 182, ../../app/stylesheets/toolbar.sass */
#panel #sync_window .sync_info h2 {
  padding-bottom: 2px;
  font-size: 14px;
  border-bottom: 1px solid #fc6d2f;
}
/* line 186, ../../app/stylesheets/toolbar.sass */
#panel #sync_window .sync_info ul {
  margin-top: 6px;
}
/* line 188, ../../app/stylesheets/toolbar.sass */
#panel #sync_window .sync_info ul li {
  padding: 3px 0;
}
/* line 190, ../../app/stylesheets/toolbar.sass */
#panel #sync_window .sync_info ul .label {
  float: left;
  width: 103px;
  font-weight: 700;
  line-height: 1.8;
}
/* line 195, ../../app/stylesheets/toolbar.sass */
#panel #sync_window .sync_info ul .value {
  font-size: 14px;
  font-weight: 700;
  color: #00cc33;
}
/* line 199, ../../app/stylesheets/toolbar.sass */
#panel #sync_window .sync_info ul #total_articles {
  color: white;
}
/* line 201, ../../app/stylesheets/toolbar.sass */
#panel #sync_window .sync_info ul .zero {
  color: red !important;
}
/* line 203, ../../app/stylesheets/toolbar.sass */
#panel #sync_window .sync_info .message {
  position: absolute;
  bottom: 25px;
  color: #dddddd;
  font-size: 10px;
}
/* line 209, ../../app/stylesheets/toolbar.sass */
#panel .wrapper {
  height: 295px;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 8px 8px 0 0;
}
/* line 214, ../../app/stylesheets/toolbar.sass */
#panel .wrapper .filter_list {
  color: white;
  position: fixed;
  margin: -3px 4px 0 0;
  padding: 4px 10px 4px 0;
}
/* line 219, ../../app/stylesheets/toolbar.sass */
#panel .wrapper .filter_list select option {
  padding: 0 !important;
  line-height: 1.2;
}
/* line 222, ../../app/stylesheets/toolbar.sass */
#panel .wrapper ul.articles_list {
  border-top: 1px solid #cccccc;
  padding: 6px 4px 0 4px;
  white-space: nowrap;
  margin-top: 21px;
}
/* line 227, ../../app/stylesheets/toolbar.sass */
#panel .wrapper ul.articles_list li.selected {
  border: 2px solid #fc6d2f;
}
/* line 229, ../../app/stylesheets/toolbar.sass */
#panel .wrapper ul.articles_list li.an_article {
  display: inline;
  list-style-type: none;
  margin-right: 20px;
  float: left;
  width: 220px;
  position: relative;
}
/* line 236, ../../app/stylesheets/toolbar.sass */
#panel .wrapper ul.articles_list li.an_article:hover:not(.selected) {
  border: 1px solid #cccccc;
}
/* line 238, ../../app/stylesheets/toolbar.sass */
#panel .wrapper ul.articles_list li.an_article .details {
  position: absolute;
  background-color: #737373;
  top: 0;
  width: 216px;
  height: 30px;
  padding: 5px 2px;
}
/* line 245, ../../app/stylesheets/toolbar.sass */
#panel .wrapper ul.articles_list li.an_article .details ul {
  width: 220px;
}
/* line 247, ../../app/stylesheets/toolbar.sass */
#panel .wrapper ul.articles_list li.an_article .details ul li {
  padding: 0;
  height: 30px;
}
/* line 250, ../../app/stylesheets/toolbar.sass */
#panel .wrapper ul.articles_list li.an_article .details ul li img {
  width: 29px;
  height: 29px;
  display: inline;
}
/* line 254, ../../app/stylesheets/toolbar.sass */
#panel .wrapper ul.articles_list li.an_article .details ul li.offline {
  left: 35px;
  position: absolute;
  width: 30px;
  top: 0;
}
/* line 259, ../../app/stylesheets/toolbar.sass */
#panel .wrapper ul.articles_list li.an_article .details ul li.available {
  background: url("../images/available.png?33") no-repeat scroll 0 0;
}
/* line 261, ../../app/stylesheets/toolbar.sass */
#panel .wrapper ul.articles_list li.an_article .details ul li.team {
  left: 3px;
  position: absolute;
  width: 30px;
  top: 0;
}
/* line 266, ../../app/stylesheets/toolbar.sass */
#panel .wrapper ul.articles_list li.an_article .details ul li.date {
  position: absolute;
  right: 3px;
  text-align: right;
  top: 8px;
}
