
%p
  %a.smalllogo{:href => "/", :title => "TED.com"} GOALARA.COM
%ul
  %li.legal © Goalara.com |
%ul{:style => "float:right;margin-right: 6px"}
  %li
    = link_to("Βοηθεια", "help")
    |
  %li
    %a{:href => "mailto:contact@goalara.com"}
      = mail_to( "contact@goalara.com", "Επικοινωνια")
  / %li
  /   = link_to("Σχετικa με το Goalara", "about")
  /   |
  
/      |
/    %li
/      %a{:href => "http://partners.ted.com"} Advertising/partnership
/      |
/    %li
/      %a{:href => "/pages/jobs"} Careers
/      |
/    %li
/      %a{:href => "/help"} Help
/      |
/    %li
/      %a{:href => "/termsofuse"} Terms of Use
/      |
/    %li
/      %a{:href => "/privacy"} Privacy Policy
/ %form#form_newsletter_signup{:action => "/newsletter/signup", :method => "post", :name => "form_newsletter_signup"}
/    %input#newsletterSignup_email_address.text{:name => "newsletterSignup[email_address]", :type => "text", :value => "Enter email for newsletter signup"}
/      %input.button{:src => "/images/button_search.gif", :type => "image", :value => "submit"}