
%ul.qa
  %li
    %div.question
      Τι μπορώ να βρω στο Goalara.com;
    %div.answer
      Στο Goalara.com μπορείς να μάθεις τα ποδοσφαιρικά νέα όλων των κυπριακών ομάδων. Το Goalara.com συγκεντρώνει τα άρθρα σχεδόν όλων των κυπριακών αθλητικών ιστοσελίδων (Kerkida.net, 24sports.com.cy, Protathlima.com, Politis-Sports.com, Sigmalive.com/sports, Supermpala.com, ShootAndGoal.com.cy, Apoel1926.com, Typos.com.cy/sports, NeaSalamis.com.cy). Σύντομα θα προστεθούν οι υπόλοιπες ιστοσελίδες αθλητικών εφημερίδων, συνδέσμων φιλάθλων και επίσημων ιστοσελίδων των ομάδων.
  %li
    %div.question
      Γιατί να επιλέξω το Goalara.com;
    %div.answer
      Αν είσαι οπαδός κάποιας κυπριακής ποδοσφαιρικής ομάδας, ενδιαφέρεσαι περισσότερα για τα νέα της ομάδας σου. Το Goalara.com σου δίνει αυτή την δυνατότητα, χωρίς να χρειάζεται να ψάχνεις ανάμεσα σε 10+ αθλητικές ιστοσελίδες. Ακόμη περισσότερο, το Goalara.com σου δίνει την δυνατότητα να διαβάσεις τα νέα της ομάδας σου, ακόμη κι οταν βρίσκεσαι εκτός σύνδεσης!
  %li
    %div.question
      Μπορώ να διαβάσω τα νέα της ομάδας μου, ακόμη και χωρίς σύνδεση στο ίντερνετ; Πως γίνεται αυτό;
    %div.answer
      Κι όμως! Επισκεφθείται την σελίδα 
      %a{:href => "/news"}
        http://www.goalara.com/news
      Στο μενού περιήγησης (πάνω-πάνω) πατήστε το κουμπί "Show my articles" για να εμφανιστεί η λίστα όλων των άρθρων. Πατήστε το πράσινο κουμπί "Συγχρονισμός άρθρων". Στην συνέχεια, επιλέξτε την ομάδα σας και πατήστε το κουμπί "Εκκίνηση συγχρονισμού", για να ξεκινήσει η διαδικασία κατεβάσματος των άρθρων της ομάδας. Όταν τελειώσει ο συγχρονισμός μπορείτε να διαβάσετε όλα τα νέα της ομάδας σας (των τελευταίων 2 ημερών) χωρίς να χρειάζεστε σύνδεση στο ίντερνετ!
  %li  
    %div.question
      Το Goalara.com είναι φιλικό σε smartphones και tablets, όπως το iPhone και το iPad;
    %div.answer
      Βεβαίως! Το κυριότερο πλεονέκτημα του Goalara.com είναι η δυνατότητα ανάγνωσης άρθρων offline, και καταλαβαίνουμε πως μια τέτοια λειτουργία είναι ιδιαίτερα χρήσιμη σε κινητές συσκευές (όπως iPhone, Android phones, iPad, κτλ.). Στο παρόν στάδιο, εργαζόμαστε για την προσθήκη δυνατότητας περιήγησης στην ιστοσελίδα με touch gestures (swipe left, swipe right, κτλ.).
  %li
    %div.question
      Πως μπορώ να σχολιάσω ένα άρθρο στο Goalara.com;
    %div.answer
      Στα αριστέρα του κάθε άρθρου, μπορείτε να σχολιάσετε, να ανταλλάξετε απόψεις με άλλους χρήστες και να βαθμολογήσετε σχόλια άλλων χρηστών. Για να μπορέσετε να σχολιάσετε θα πρέπει να δημιουργήσετε λογαριασμό ή να συνδεθείτε με τον λογαριασμό σας στο Facebook.
  %li
    %div.question
      Έχω κάποια σχόλια, προτάσεις για το Goalara.com. Πως μπορώ να επικοινωνήσω μαζί σας;
    %div.answer
      Στείλτε μας ένα email στο 
      %a{:href => "mailto:contact@goalara.com"}
        contact@goalara.com
      Υπάρχει κάτι που δεν σας άρεσε; Κάποια επιπλέον λειτουργία/δυνατότητα που θα θέλατε να είχατε; Οποιοδήποτε σχόλιο/πρόταση είναι δεκτά.  
      
      
      
      
    